/*
* @Author: Shuhuasong
* @Date:   2020-08-05 18:09:34
* @Last Modified by:   Shuhuasong
* @Last Modified time: 2020-08-05 18:23:02
*/
.nav{
    background: #eee;
    height: 30px;
    line-height: 30px;
}
/* user part */
.nav .user{
    float: left;
} 
.nav .user.login{
    display: none;
} 
.nav .user .link{
    margin-right: 5px;
}
/* navigation part */
.nav .nav-list{
    float: right;
}
.nav .nav-list .nav-item{
    display: inline-block;
    margin-left: 5px;
}


