<div class="nav">
    <div class="w">
        <div class="user-info">
            <span class="user not-login">
                <span class="link js-login">Login</span>
                <span class="link js-register">Register</span>
            </span>
             <span class="user login">
                <span class="link-text">
                    Welcome
                    <span class="username"></span>
                </span>
                <span class="link js-logout">Logout</span>
            </span>
        </div>
        <ul class="nav-list">
            <li class="nav-item">
                <a href="./cart.html" class="link">
                     <i class="fa fa-shopping-cart"></i>
                     Shopping Cart(<span class="cart-count">0</span>)
                </a>
            </li>      
            <li class="nav-item">
                <a href="./order-list.html" class="link">My Order</a>
            </li>
            <li class="nav-item">
                <a href="./user-center.html" class="link">My MMALL</a>
            </li>
            <li class="nav-item">
                <a href="./about.html" class="link">About MMALL</a>
            </li>
        </ul>
    </div>
</div>