/*
* @Author: Shuhuasong
* @Date:   2020-06-29 15:10:04
* @Last Modified by:   Shuhuasong
* @Last Modified time: 2020-08-05 17:23:28
*/

body{
    background: #ccc;
    color: blue;
    font-size: 50px;
}
.nav-simple .logo{
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
}